body {
    color: white;
    font-family: 'Inconsolata';

    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0.5%;
    padding-bottom: 15%;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #474949;
}

::-webkit-scrollbar-thumb {
    background: #6e79b6;
    transition: background .5s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #7e8acf;
    transition: background .5s;
}

img {
    margin-top: 2.5%;
    margin-left: 2.5%;
    border: 1px solid transparent;
    border-image: linear-gradient(to right,#6e79b6,#7e8acf);
    border-image-slice: 1;
}

p {
    font-size: 115%; /* Makes it a bit smaller */
}

div#header p {
    color: #c0b9b9
}

p.directory {
    background: #2e3030;
    width: 75%;
    height: 100%;

    text-align: left;
    padding-top: .5%;
    padding-left: .5%;
    padding-right: .5%;
    padding-bottom: .5%;
}
p.demo {
    background: #044949;
    width: 75%;
    height: 100%;

    text-align: left;
    padding-top: .5%;
    padding-left: .5%;
    padding-right: .5%;
    padding-bottom: .5%;
}
p.directory-use {
    color: #c0b9b9;
}
p italic {
    color: goldenrod;
    font-family: 'Inconsolata';
}

div.introduction{
    background: #434444;
    width: 75%;
    height: 100%;

    text-align: left;
    padding-top: .5%;
    padding-left: .5%;
    padding-right: .5%;
}

div.introduction .colormark {
    width: 30px;
    height: 10px;
    
    position: absolute;
    left: 4.6%;

    box-shadow: 2px 2px 2px #2b2c2c;
}

div.code-preview {
    background-color: #2b2c2c;
    height: 110%;
    width: fit-content;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 2%;

    border: 2px solid #171818;
}

div.code-preview span {
    color: #6A9955;
}
div.code-preview span.line {
    color: #c0b9b9;
}

span {
    color: #c0b9b9
}

a.next-guide {
    cursor: pointer;
    color: #ffbbbb;
}
a.main-page {
    cursor: pointer;
    color: #6e79b6;
}