.verticalline {
    margin-left: 1%;
    border-left: .5mm solid #b8c2ca;
    animation: blink 0.9s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 0;
    }
}

#small {
    color: #b8c2ca;
    font-family: Haymer;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 5px;
}

#highlight {
    color: #f1155b;
}

#highlight-decent {
    color: #f86896;
}

.whoami {
    background-color: #212529;

    height: 35%;
}

.whoami div {
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
}

.contacts {
    background-image: linear-gradient(#212529,#4a4e53);

    margin: 0;
    padding: 0;
    height: 450px;
}
.contacts div {
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .image-container a {
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 10px;
  }
  
  .image-container img {
    width: 100px;
    height: 100px;
  }
  
  .image-container p {
    color: white;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
  }