@font-face {
    font-family: JustSans-Bold;
    font-weight: bold;
    src: url("fonts/JUST\ Sans\ ExBold.otf") format("opentype");
}
@font-face {
    font-family: JustSans;
    src: url("fonts/JUST\ Sans\ Regular.otf") format("opentype");
}
@font-face {
    font-family: Haymer;
    src: url("fonts/HaymerPetiteCapitalsLight-Light.otf") format("opentype");
}

br {
    line-height: 1px;
}

body,html {
    background-color: #4a4e53;
    margin: 0;
    padding: 0;
}

h1 {
    color: #FAFAFA;
    font-family: 'JustSans-Bold';
    font-size: 50px;
    letter-spacing: 0.1dvb;
    line-height: 20px;
}

div {
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
}

img[alt] {
    color: white;
    font-family: JustSans;
}

img {
    padding-top: 3%;
    width: 60px;
    height: 60px;
}